.link{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0071E3;
}

.link:hover{
   color: #229be1;
}

.shareIcon {
    margin: 0 7px -5px 0;
}